<h1>Add New Pet</h1>
<form action='/pets/add' method='POST' class='petForm'>
  <label for='name'>Enter Pet's Name: </label>
  <input type='text' name='name' placeholder='Enter Name' /><br />

  <label for='description'>Enter Item Description: </label>
  <input type='text' name='description' placeholder='Enter Description' /><br />

  <label for='imgUrl'>Enter Image URL: </label>
  <input type='text' name='imgUrl' placeholder='Enter URL Here' /><br />

  <label for='isHouseTrained'>Is this pet Housetrained: </label>
  <input type='text' name='isHouseTrained' placeholder='Yes or No' /><br />

  <button type='submit'>Submit</button>
</form>

<form action='/pets'>
  <button type='submit'>Home</button>
</form>